{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-light">
                    <div class="card-body">
                        {% for flash_error in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger mb-4" role="alert">{{ flash_error }}</div>
                        {% endfor %}

                        <h1 class="h3 mb-3 font-weight-normal text-center">Inscription</h1>

                        {% if app.user %}
                            <div class="alert alert-info mb-4">
                                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                        {% endif %}

                        {{ form_errors(registrationForm) }}

                        {{ form_start(registrationForm) }}
                        <div class="mb-3">
                            {{ form_label(registrationForm.lastname, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(registrationForm.lastname, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(registrationForm.lastname) }}

                        </div>
                        <div class="mb-3">
                            {{ form_label(registrationForm.firstname, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(registrationForm.firstname, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(registrationForm.firstname) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(registrationForm.email, 'Email *', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(registrationForm.email) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(registrationForm.plainPassword, 'Mot de passe *', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(registrationForm.plainPassword) }}
                        </div>
                        <button type="submit" class="btn btn-primary">S'inscrire</button>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
