{% extends 'base.html.twig' %}

{% block title %}Historique des PDFs{% endblock %}

{% block body %}
    <h1>Historique des PDFs</h1>

    <table>
        <thead>
        <tr>
            <th>N°</th>
            <th>Titre</th>
            <th>Méthode</th>
            <th>Date</th>
            <th>Heure</th>
        </tr>
        </thead>
        <tbody>
        {% for key, pdf in pdfs %}
            <tr>
                <td>{{ key + 1 }}</td>
                <td>{{ pdf.title }}</td>
                <td>{{ pdf.method }}</td>
                <td>{{ pdf.createdAt|date('d/m/Y') }}</td>
                <td>{{ pdf.createdAt|date('H:i') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun PDF</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
